.info {
  margin: auto;
  background-size: cover;
  background-position: center; }
  .info p {
    margin-left: 15%;
    width: 35%;
    font-size: 1.2vw;
    line-height: 1.4;
    padding-top: 200px;
    padding-bottom: 100px;
    margin-bottom: 0; }
    .info p br {
      line-height: 2.5; }