/* CSS Document */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

button {
  background: none;
  border-style: solid;
  border-width: 2px; }

button:focus {
  outline: none; }

header {
  background-color: white;
  position: fixed;
  width: 100%; }
  header img, header ul {
    display: inline-block; }
  header img {
    width: 20%;
    margin: 10px 80px; }
  header ul {
    float: right;
    list-style: none;
    margin: 40px 3%; }
    header ul .onpage {
      color: #f89e0c; }
    header ul a {
      display: inline-block;
      margin: 0 30px;
      font-size: 1vw;
      vertical-align: top;
      line-height: 0.8; }
    header ul a :hover {
      transition: 0.5s;
      color: #f89e0c; }
    header ul div {
      margin: 0;
      height: 2px;
      width: 100%;
      background-color: #f89e0c; }

.footer {
  background-color: #666;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  padding: 30px 10% 10px;
  color: white; }
  .footer ul {
    list-style: none; }
    .footer ul a:hover {
      transition: 0.5s;
      color: #f89e0c; }
  .footer__links {
    margin-top: 0;
    font-size: 1.4vw;
    line-height: 1.6; }
  .footer__contact {
    margin-top: 10px;
    line-height: 1.2; }
    .footer__contact a {
      font-size: 1.4vw; }
    .footer__contact div {
      width: 70%;
      height: 2px;
      margin: 15px 0 5px;
      background-color: white; }
    .footer__contact ul {
      padding-left: 0;
      display: inline-block;
      vertical-align: top;
      width: 35%;
      line-height: 1.4;
      font-size: 1.1vw; }
  .footer img {
    height: 200px;
    margin-bottom: 0; }

.video {
  height: 40vw; }

.product {
  text-align: center; }
  .product__button {
    color: #f89e0c;
    padding: 10px 40px;
    border-radius: 50px;
    border-color: #f89e0c;
    font-size: 1vw; }

.heighlights {
  background-image: url(../img/frontpage/Heighlights.jpg);
  background-size: cover;
  margin-top: 50px;
  text-align: center;
  color: white; }
  .heighlights img {
    height: 100px;
    padding: 40px 0 40px; }
  .heighlights ul {
    max-width: 1600px;
    margin: auto;
    padding-bottom: 50px; }
    .heighlights ul li {
      display: inline-block;
      margin: 0 30px;
      width: 20%;
      vertical-align: top;
      font-size: 1vw; }
      .heighlights ul li b {
        font-family: arial;
        font-weight: lighter;
        font-size: 1.2vw; }
      .heighlights ul li div {
        width: 30%;
        height: 5px;
        background-color: #f89e0c;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px; }

.info {
  margin: auto;
  background-image: url(../img/frontpage/info_background.jpeg);
  background-size: cover;
  background-position: center; }
  .info p {
    margin-left: 15%;
    width: 35%;
    font-size: 1.2vw;
    line-height: 1.4;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0; }
    .info p br {
      line-height: 2.5; }

.headline {
  padding-top: 180px;
  text-align: center; }
  .headline h1 {
    font-size: 2vw; }

.contact {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-gap: 10%;
  margin: auto;
  width: 80%; }
  .contact__logo {
    text-align: center; }
    .contact__logo__phone {
      width: 180px; }
    .contact__logo__email {
      width: 180px; }

/*# sourceMappingURL=stylesheet.css.map */
