@charset "utf-8";
/* CSS Document */


// Colours

$White:         #fff;
$lightgrey:     #aaa;
$darkgrey:      #666;
$orange:        #f89e0c;


// General

body {
	margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border-style: solid;
    border-width: 2px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

p, h1, h2, h3 {
    margin: 0;
}


// More Used Classes

.nodisplay {
    display: none;
}

.hidden {
    visibility: hidden;
}


// Includes

header {
    background-color: white;
    position: fixed;
    width: 100%;
    
    img, ul {
        display: inline-block;
    }
    
    img {
        width: 20%;
        margin: 10px 80px 0;
        transition: 0.5s;
    }
    
    img:hover {
        opacity: 0.5;
    }
    
    ul {
        float: right;
        list-style: none;
        margin: 40px 3% 0;
        
        .onpage {
            color: $orange;
            
            div {
                margin: 0;
                margin: auto;
                height: 2px;
                width: 100%;
                background-color: $orange;
                animation: linespread 1s;
            }
            
            @keyframes linespread {
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }
        }
        
        a {
            display: inline-block;
            margin: 0 30px;
            font-size: 1vw;
            vertical-align: top;
            line-height: 0.8;
        }
        
        a :hover {
            transition: 0.5s;
            color: $orange; 
        }
    }
}

.footer {
    background-color: $darkgrey;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    padding: 30px 10% 10px;
    color: white;
    
    ul {
        list-style: disc;   
        
        a:hover {
            transition: 0.5s;
            color: $orange;
        }
    }
    
    &__links {
        margin-top: 0;
        font-size: 1.4vw;
        line-height: 1.6;
    }
    
    &__contact {
        margin-top: 10px;
        line-height: 1.2;
        
        a {
            font-size: 1.4vw;
        }
        
        div {
            width: 70%;
            height: 2px;
            margin: 15px 0 5px;
            background-color: white;
        }
        
        ul {
            padding-left: 0;
            display: inline-block;
            vertical-align: top;
            width: 35%;
            line-height: 1.4;
            font-size: 1.1vw;
        }
    }
    
    img {
        height: 200px;
        margin-bottom: 0;
    }
}


