@charset "utf-8";
/* CSS Document */


// Colours

$White:         #fff;
$lightgrey:     #aaa;
$darkgrey:      #666;
$orange:        #f89e0c;


// General

html {
    margin: 0;
}

body {
	margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border-style: solid;
    border-width: 2px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

p, h1, h2, h3 {
    margin: 0;
}


// More Used Classes

.nodisplay {
    display: none;
}

.hidden {
    visibility: hidden;
}

.only768 {
    display: none;
}


// Includes

header {
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    
    img, ul {
        display: inline-block;
    }
    
    img {
        width: 20%;
        margin: 10px 80px 0;
        transition: 0.5s;
    }
    
    img:hover {
        opacity: 0.5;
    }
    
    ul {
        float: right;
        list-style: none;
        margin: 40px 3% 0;
        
        .onpage {
            color: $orange;
            
            div {
                margin: 0;
                margin: auto;
                height: 2px;
                width: 100%;
                background-color: $orange;
                animation: linespread 1s;
            }
            
            @keyframes linespread {
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }
        }
        
        a {
            display: inline-block;
            margin: 0 30px;
            font-size: 1vw;
            vertical-align: top;
            line-height: 0.8;
        }
        
        a :hover {
            transition: 0.1s;
            color: $orange; 
        }
    }
    
    #menubutton_1 {
        padding-bottom: 12px;
    }
    
    .dropdown {
        display: inline-block;
        
        &__menu {
            display: none;
            position: absolute;
            margin: 0 0 0 -18px;
            padding: 10px;
            background-color: #fff;
            box-shadow: 1px 1px 5px 0px #999;
            max-width: 350px;
            animation-name: fadein;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            
            @keyframes fadein {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            
            a {
                padding: 12px 8px;
                
                li {
                    font-size: 14px;
                }
            }
            
            a:hover {
                cursor: pointer;
            }
            
            &__separate {
                height: 1px;
                width: 100%;
                max-width: 274px;
                margin: 10px 38px;
                background-color: #666;
            }
        }
        
        &__menu:hover {
            display: block;
        }
    }
    
    .dropdown:hover .dropdown__menu {
        display: block;
    }
}

.footer {
    background-color: $darkgrey;
    display: grid;
    grid-template-columns: 20% 50% 20%;
    padding: 20px 5% 10px;
    color: white;
    width: 90%;
    z-index: 3;
    
    ul {
        list-style: disc;   
        
        a:hover {
            transition: 0.5s;
            color: $orange;
        }
    }
    
    &__links {
        margin-top: 0;
        font-size: 1.4vw;
        line-height: 1.6;
    }
    
    &__contact {
        margin-top: 10px;
        line-height: 1.2;
        
        a {
            font-size: 1.4vw;
        }
        
        div {
            width: 50%;
            height: 2px;
            margin: 15px 0 5px;
            background-color: white;
        }
        
        ul {
            padding-left: 0;
            display: inline-block;
            vertical-align: top;
            width: 30%;
            line-height: 1.4;
            font-size: 1.1vw;
            list-style: none;
        }
    }
    
    img {
        height: 200px;
        margin-bottom: 0;
    }
}

.Aboutmenu {
    position: fixed;
    z-index: 2;
    margin-top: 7vw;
    margin-left: 3vw;
    
    ul {
        list-style: none;
        font-size: 1.3vw;
        
        a {
            li {
                padding-bottom: 0.5vw;
            }
        }
        
        a:hover {
            transition: 0.5s;
            color: $orange;
        }
        
        .on {
            color: $orange;
        }
    }
}


/* Mobile resolution */
@media only screen and (max-width: 1100px) {
    header {
        background-color: transparent;
        position: absolute;

        img {
            width: 40%;
            margin: 5vw 0 0 5vw;
        }

        ul {
            margin: 6vw 10vw 0;

            .onpage {
                color: $orange;

                div {
                    height: 0;
                    width: 0;
                }
            }

            a {
                display: block;
                margin: 3vw 0;
                font-size: 3.5vw;
                text-align: right;
                padding-bottom: 11.25px;
            }
            
            br {
                display: none;
            }
            
            #menubutton_1 {
                padding-bottom: 0;
            }
        }
    }
    
    .Aboutmenu {
        position: absolute;
        margin-top: 23vh;
        margin-left: 0;
        width: 100%;

        ul {
            border: solid;
            border-width: 2px 0 0 0;
            border-color: $orange;
            padding-top: 3vh;
            margin-right: 10vw;
            text-align: right;
            float: right;
            
            a {
                li {
                    font-size: 3.5vw;
                    padding-bottom: 6vw;
                }
            }
        }
    }
    
    .footer {
        grid-template-columns: 40% 60%;
        padding: 50px 5% 10px;

        &__links {
            font-size: 5vw;
        }

        &__contact {
            margin-top: 10px;
            line-height: 1.2;

            a {
                font-size: 4vw;
            }

            div {
                width: 100%;
                height: 2px;
                margin: 15px 0 5px;
                background-color: white;
            }

            ul {
                padding-left: 0;
                display: block;
                vertical-align: top;
                width: 100%;
                line-height: 1.4;
                font-size: 4vw;
            }
        }

        img {
            display: none;
        }
    }
}

@media only screen and (max-width: 375px) {
    .Aboutmenu {
        margin-top: 16vh;
    }
}
