@charset "utf-8";
/* CSS Document */ 


// Colours

$white:         #fff;
$lightgrey:     #aaa;
$darkgrey:      #666;
$orange:        #f89e0c;


// Page

.info {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5vw;
    display: block;
    padding-top: 5vh;
    
    &__txt {
        width: 70%;
        font-size: 1.2vw;
        line-height: 1.5;
        padding-bottom: 5vh;
        
        h1 {
            padding-top: 15vh;
            padding-bottom: 2vh;
        }
        
        &__img {
            position: fixed;
            margin-top: 30vh;
            margin-left: 35vw;
            height: 70vh;
            width: 50vw;
            background-image: url(../img/about/Magnatek-Henrik.gif);
            background-size: cover;
            background-position: center;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .video{
        display: none;
    }
    
    .info {
        padding-top: 40vh;
        width: 100%;
        margin-bottom: 0;
        max-width: inherit;

        &__txt {
            width: 60%;
            font-size: 4vw;
            line-height: 1.5;
            margin-left: 5vw;
            margin-bottom: 5vw;
            
            &__img {
                position: absolute;
                left: -5vw;
                top: 10vh;
                margin: 0;
                height: 40vh;
                width: 80vw;
            }
        }
    }
}

