@charset "utf-8";
/* CSS Document */


// Colours

$White:         #fff;
$lightgrey:     #aaa;
$darkgrey:      #666;
$orange:        #f89e0c;


// General

body {
	margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border-style: solid;
    border-width: 2px;
}

button:focus {
    outline: none;
}


// Includes

header {
    background-color: white;
    position: fixed;
    width: 100%;
    
    img, ul {
        display: inline-block;
    }
    
    img {
        width: 20%;
        margin: 10px 80px;
    }
    
    ul {
        float: right;
        list-style: none;
        margin: 40px 3%;
        
        .onpage {
            color: $orange;
        }
        
        a {
            display: inline-block;
            margin: 0 30px;
            font-size: 1vw;
            vertical-align: top;
            line-height: 0.8;
        }
        
        a :hover {
            transition: 0.5s;
            color: $orange; 
        }
        
        div {
            margin: 0;
            height: 2px;
            width: 100%;
            background-color: $orange;
        }
    }
}

.footer {
    background-color: $darkgrey;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    padding: 30px 10% 10px;
    color: white;
    
    ul {
        list-style: none;
        
        a:hover {
            transition: 0.5s;
            color: $orange;
        }
    }
    
    &__links {
        margin-top: 0;
        font-size: 1.4vw;
        line-height: 1.6;
    }
    
    &__contact {
        margin-top: 10px;
        line-height: 1.2;
        
        a {
            font-size: 1.4vw;
        }
        
        div {
            width: 70%;
            height: 2px;
            margin: 15px 0 5px;
            background-color: white;
        }
        
        ul {
            padding-left: 0;
            display: inline-block;
            vertical-align: top;
            width: 35%;
            line-height: 1.4;
            font-size: 1.1vw;
        }
    }
    
    img {
        height: 200px;
        margin-bottom: 0;
    }
}


// Frontpage

.video {
    height: 40vw;
}

.product {
    text-align: center;
    
    &__button {
        color: $orange;
        padding: 10px 40px;
        border-radius: 50px;
        border-color: $orange;
        font-size: 1vw;
    }
}

.heighlights {
    background-image: url(../img/frontpage/Heighlights.jpg);
    background-size: cover;
    margin-top: 50px;
    text-align: center;
    color: white;
        
    img {
        height: 100px;
        padding: 40px 0 40px;
    }
    
    ul {
        max-width: 1600px;
        margin: auto;
        padding-bottom: 50px;
        
        li {
            display: inline-block;
            margin: 0 30px;
            width: 20%;
            vertical-align: top;
            font-size: 1vw;
            
            b {
                font-family: arial;
                font-weight: lighter;
                font-size: 1.2vw;
            }
            
            div {
                width: 30%;
                height: 5px;
                background-color: $orange;
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.info {
    margin: auto;
    background-image: url(../img/frontpage/info_background.jpeg);
    background-size: cover;
    background-position: center;
    
    p {
        margin-left: 15%;
        width: 35%;
        font-size: 1.2vw;
        line-height: 1.4;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 0;
        
        br {
            line-height: 2.5;
        }
    }
}

// contact

.headline {
	padding-top: 180px;
	text-align: center;

	h1{
		font-size: 2vw;
	}
	
}

.contact {
	display: grid;
	grid-template-columns: 40% 55%;
	grid-gap: 10%;
	margin: auto;
	width: 80%;

	&__logo
{
	text-align: center;
	&__phone
	{
		width: 180px;
	}
	&__email
	{
		width: 180px;
	}
}
}
