@charset "utf-8";
/* CSS Document */


// Colours

$White:         #fff;
$lightgrey:     #aaa;
$darkgrey:      #666;
$orange:        #f89e0c;


// Page

.history {
    padding-top: 9vw;
    
    &__heading {
        font-weight: lighter;
        margin: auto;
        width: 60%;
        font-size: 2.5vw;
    }

    &__section {
        padding: 4vw 20%;
        
        .txt {
            line-height: 150%;
            font-size: 1.4vw;
        }
        
        &__pic {
            
            div {
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 200px;
            }
            
            #pic1 {background-image: url(../img/history/pic1.jpg);}
            #pic2 {background-image: url(../img/history/pic2.jpg);}
            #pic3 {background-image: url(../img/history/pic3.jpg);}
            #pic4 {background-image: url(../img/history/pic4.jpg);}
            
            p {
                font-size: 1vw;
                font-style: italic;
            }
        }
    }

    &__grey {
        background-color: $lightgrey;
        display: grid;
        grid-template-columns: 40% 60%;
        
        .txt {
            padding-left: 3vw;
        }
    }
    
    &__white {
        display: grid;
        grid-template-columns: 60% 40%;
        
        .txt {
            padding-right: 3vw;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .history {
        padding-top: 32vh;

        &__heading {
            width: 90%;
            font-size: 10vw;
            padding-bottom: 5vh;
        }

        &__section {
            padding: 0;

            .txt {
                font-size: 4vw;
                padding: 4vw 5vw;
            }

            &__pic {

                div {
                    height: 60vh;
                }

                p {
                    display: none;
                }
            }
        }

        &__grey {
            grid-template-columns: 50% 50%;
        }

        &__white {
            grid-template-columns: 50% 50%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .history {
        padding-top: 40vh;
        
        &__section {
            display: block;
            
            &__pic {
                display: none;
                margin-bottom: 50px;
            }
        }
        
        &__grey {
            background-color: transparent;
        }
    }
    
    .only768 {
        display: block;
    }
    
    .also768 {
        display: block;
    }
}