@charset "utf-8";
/* CSS Document */


// Colours

$White:         #fff;
$lightgrey:     #aaa;
$darkgrey:      #666;
$orange:        #f89e0c;


.headline {
	padding-top: 140px;
	padding-bottom: 40px;
	text-align: center;

	&__topic{
		font-size: 3vw;
		padding-bottom: 20px;
	}
}

.facilities
{
	display: grid;
	grid-template-columns: 45% 20%;
	grid-gap: 20%;
	margin: auto;
	width: 80%;
	padding-bottom: 100px;
	&__info
	{
		&__text{
			padding-left: 200px;

		}
		&__img{
			width: 140%;
			padding-bottom: 20px;
		}
		&__hus
		{
			width: 140%;
		}
	}
}
