@charset "utf-8";
/* CSS Document */


// Colours

$White:         #fff;
$lightgrey:     #aaa;
$darkgrey:      #666;
$orange:        #f89e0c;


// contact

.headline {
	padding-top: 140px;
	padding-bottom: 40px;
	text-align: center;

	h1{
		font-size: 3vw;
		padding-bottom: 20px;	
	}

}

.contact {
	display: grid;
	grid-template-columns: 28% 34% 28%;
	grid-gap: 5%;
	margin: auto;
	width: 80%;

	&__logo
{
	text-align: center;
	&__phone
	{
		width: 180px;
	}
	&__email
	{
		width: 180px;
	}
	&__fax
	{
		width: 180px;
	}
}
}

.maps {
	display: grid;
	grid-template-columns: 45% 30%;
	grid-gap: 5%;
	margin: auto;
	width: 80%;
	padding-top: 10%;
	padding-bottom: 4%;

	&__pointer
	{
		width: 180px;

	}
	&__header
	{
		text-align: right;
		&__headline
		{
			font-size: 3vw;
		}
	}
}
