@charset "utf-8";
/* CSS Document */


// Colours

$White:         #fff;
$lightgrey:     #aaa;
$darkgrey:      #666;
$orange:        #f89e0c;


// Frontpage

.frontpage {
    padding-top: 10vw;
    height: 27vw;
    width: 80%;
    margin: auto;
    
    &__header{
        text-align: center;
        width: 80%;
        margin: auto;
        font-weight: lighter;
        font-size: 2.5vw;
    }
    
    &__content {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        
        h1 {
            font-weight: lighter;
            font-size: 1.5vw;
            text-align: center;
            width: 80%;
            margin: auto;
            
            b {
                font-family: arial;
                font-weight: lighter;
                font-size: 1.7vw;
            }
            
            div {
                margin: 10px auto;
                height: 3px;
                width: 20%;
                background-color: $orange;
            }
        }
        
        img {
            width: 100%;
        }
    }
}

.product {
    padding-top: 10vw;
    height: 27vw;
    width: 70%;
    margin: auto;
    
    h1 {
        margin-bottom: 10px;
        font-size: 2vw;
        color: $darkgrey;
    }
    
    &__categories {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 10px 2%;
        
        button {
            height: 150px;
        }
    }
}

.product_button {
    text-align: center;
    
    button {
        color: $orange;
        padding: 10px 40px;
        margin: 3vw 0 4vw;
        border-radius: 50px;
        border-color: $orange;
        font-size: 1.4vw;
        transition: 0.5s;
        width: 20%;
    }
    
    button:hover {
        background-color: $orange;
        color: black;
    }
}

